/*  GENERAL  */

@font-face {
	font-family: 'FuturaExtended';
	src: url('./fonts/FuturaExtended.ttf');
}

@font-face {
	font-family: 'Tahu';
	src: url('./fonts/Tahu!.ttf');
}

body {
	font-family: FuturaExtended;
	background-color : #92CECA;
}

#page_accueil, #page_carte {
    position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around; align-items: center;
    width: 100vw;
	height: 95vh;
}

h1,h2,p {
	font-weight: normal;
}

#page_carte {
    animation: MapAppears 1s forwards;
}

@keyframes MapAppears {
    0%
    {
        transform: translate(100%,0);
    }
    100%
    {
        transform: translate(0,0);
    }
}

@keyframes HomeDisappears {
    0%
    {
        transform: translate(0,0);
    }
    100%
    {
        transform: translate(-100%,0);
        display: none !IMPORTANT;
    }
}

.page-inactive {
	display: none !IMPORTANT;
}

.page-goOut {
    animation: HomeDisappears 1s forwards;
}

/*  PAGE ACCUEIL  */

#siteTitle {
	font-family: Tahu;
	color: #000005;
	font-size: 4em;
}

#startAdventure {
    display: flex;
    justify-content: center;
}

#buttonStart {
    background: none;
    border: none;
	font-family: Tahu;
	color: #EA564E;
	font-size: 3em;
	text-decoration: none;
}

#buttonStart:hover {
    cursor: pointer;
}

#inputName {
	border: none; background: none;
	border-bottom: 1.5px white solid;
}

#formName {
	width: 65%;
	margin-left: auto; 
	margin-right: auto;
}

#bonhommesAccueil {
	width: auto; height: 60%;
    margin-bottom: 2%;
}

/*  PAGE CARTE  */

#map {
    width: 50%; height: 70%;
    text-align: justify;
}

.popup {
	display: none;
}

#blackBG {
	display: none;
	width: 100vw; height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0; left: 0;
    animation: BG_fade_in 1s forwards;
}

@keyframes BG_fade_in {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.popup-active {
	display: flex;
	flex-direction: column;
	color: #444444;
	width: 400px;
	height: 75%;
	background-color : #92CECA;
	position: fixed;
	border: 3px solid white;
	
	border-radius: 20px;
	padding: 2%;
	overflow: scroll;
    animation: popup_in 1s forwards;
    top: 50%; left:50%;
}

@keyframes popup_in {
    0%
    {
        opacity: 0;
        transform: translate3D(-50%, 0px, 0px);
    }
    100%
    {
        opacity: 1;
        transform: translate3D(-50%, -150px, 0px);
        transform: translate(-50%,-50%);
    }
}

#countDown {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.flags {
    width : 50%;
    height: 50%;
    margin-bottom: 3%;
}

.regionTitle {
    margin-top: 5px;
    margin-bottom: 30px;
}

.popupHeader {
	font-family: Tahu;
	color: #EA564E;
	font-size: 2em;
	text-align: center;
}

.closed_cross {
	width: 15px; height: auto;
	align-self: end;
}

#mapDescription span {
	font-family: Tahu;
	color: #EA564E;
	font-size: 2em;
}

#helloName {
	font-size: 1.5em;
}

#goBackHomeButton {
	align-self: start;
	margin-left: 5vw;
}

#goBackHome img {
    position: fixed;
    top: 5%; left: 5%;
	width: 10%; height: auto;
}

#bonhommeEnBas {
    position: fixed;
	bottom: 5%; left: 5%;
	width: 13%; height: auto;
}

#bulleExpression {
	position: fixed;
	width: 10%; height: auto;
	right: 10%;
}

@media (max-width: 768px){
    
    #bonhommesAccueil{
        width: 80%;
        height: auto;
    }
    
    #siteTitle{
        font-size: 3em;
        text-align: center;
    }
    
    #subtitleName {
        font-size: 1.2em;
        text-align: center;
    }
    
    #formName{
        width: auto;
        margin-left: 10%;
    }
    
    #helloName{
        font-size: 1.2em;
        margin-top: 4%;
        margin-bottom: 2%;
        text-align: center;
    }
    
    #mapDescription{
        margin-top: 2%;
        text-align: center;
    }
}

@media (max-width: 500px){
    #bonhommeEnBas {
        display: none;
    }
    
    #bulleExpression {
        display: none;
    }
    
    #helloName{
        margin-top: 10%;
    }
}